
<div id="hero-section" class="my-4 mx-4">
         <div id="hero-container" class="bg-gradient-to-r from-teal-400 via-teal-400/60 to-teal-400/20 py-6 px-2 md:px-6 flex flex-col items-center justify-center gap-10 md:gap-16 rounded-2xl">
               <div class=" w-full">
                   <h1 class="text-3xl md:text-5xl lg:text-6xl text-black font-bold text-left">How was Your yesterday?</h1>
                   <p class="text-2xl md:text-3xl text-black font-normal text-left">it takes less a minute.</p>
               </div>
                  <button  class="p-2 px-6  text-xl bg-amber-500 rounded-3xl text-white hover:bg-amber-300">Starts Daily Check-in</button>
                </div>


                <div id="snap-shot-section" class="px-5 py-5">
                <h1 class="text-3xl font-normal">Today's Snapshot</h1>
                <div id="snap-shot-container">

                  <div id="snap-card" class="min-h-28 min-w-28 bg-emeald-200">
                  </div>
                </div>

              </div>

              </div>


              
              <% if (status !== "submitted") { %>
                      
 <div id="D-profile-modal-overlay"
  class="fixed inset-0 z-50 bg-slate-900/40 backdrop-blur
         flex items-center justify-center">


  <div
    class="bg-white text-amber-800
           w-[92%] max-w-sm sm:max-w-md
           rounded-2xl p-6
           shadow-xl relative">

  
    <button
      onclick="DcloseProfileModal()"
      class="absolute top-10 right-7
             text-slate-400 hover:text-slate-700
             text-lg font-bold">
      ✕
    </button>

 
    <div class="w-full h-2 bg-slate-200 rounded-full mb-6 overflow-hidden">
      <div id="Dprogress"
        class="h-full bg-teal-500 transition-all duration-300">
      </div>
    </div>

  
    <div id="dailyInput" class="relative overflow-hidden h-[220px] p-4 text-teal-400">

      <div class="daily absolute inset-0 translate-x-full opacity-0 transition-all duration-300">
        <button onclick="DbackStep()" class="text-sm mb-2 text-teal-500 hover:text-teal-300">← Back</button>
        <h2 class="text-lg font-semibold mb-3">Water Intake</h2>
        <input id="water" type="number"
          class="w-full p-4 mb-4   rounded-lg border border-slate-300
                 focus:ring-2 focus:ring-teal-400 outline-none ">
        <button onclick="DnextStep()" class="w-full bg-teal-500 hover:bg-teal-600
                 text-white font-semibold py-2 rounded-lg transition">
          Next
        </button>
      </div>

      
      <div class="daily absolute inset-0 translate-x-full opacity-0 transition-all duration-300">
        <button onclick="DbackStep()" class="text-sm mb-2 text-teal-500 hover:text-teal-300">← Back</button>
        <h2 class="text-lg font-semibold mb-3">junkfood?</h2>
        <select id="junkFood"
          class="w-full p-3 rounded-lg border border-slate-300
                 focus:ring-2 focus:ring-teal-400 outline-none mb-4">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        <button onclick="DnextStep()" class="w-full bg-teal-500 hover:bg-teal-600
                 text-white font-semibold py-2 rounded-lg transition">
          Next
        </button>
      </div>


      <div class="daily absolute inset-0 translate-x-full opacity-0 transition-all duration-300">
        <button onclick="DbackStep()" class="text-sm mb-2 text-teal-500 hover:text-teal-300">← Back</button>
        <h2 class="text-lg font-semibold mb-3">What you contain most?</h2>
        <select id="foodType"
          class="w-full p-3 rounded-lg border border-slate-300
                 focus:ring-2 focus:ring-teal-400 outline-none mb-4">
          <option value="balanced">balanced</option>
          <option value="carbs">carbs</option>
           <option value="protein">protein</option>
          <option value="fats">fats</option>
        </select>

        <button onclick="DnextStep()" class="w-full bg-teal-500 hover:bg-teal-600
                 text-white font-semibold py-2 rounded-lg transition">
          Next
        </button>
      </div>

    
      <div class="daily absolute inset-0 translate-x-full opacity-0 transition-all duration-300 p-2">
        <button onclick="DbackStep()" class="text-sm mb-2 text-teal-500 hover:text-teal-300">← Back</button>
        <h2 class="text-lg font-semibold mb-3 p-2">Study hour</h2>
        <input id="studyHr" type="number" max="300"
          class="w-full p-3 rounded-lg border border-slate-300
                 focus:ring-2 focus:ring-teal-400 outline-none mb-4">
        <button onclick="DnextStep()" class="w-full bg-teal-500 hover:bg-teal-600
                 text-white font-semibold py-2 rounded-lg transition">
          Next
        </button>
      </div>


       <div class="daily absolute inset-0 translate-x-full opacity-0 transition-all duration-300">
        <button onclick="DbackStep()" class="text-sm mb-2 text-teal-500 hover:underline">← Back</button>
        <h2 class="text-lg font-semibold mb-3">Any Symptoms?</h2>
        <select id="symptoms"
          class="w-full p-3 rounded-lg border border-slate-300
                 focus:ring-2 focus:ring-teal-400 outline-none mb-4">
          <option value="none">none</option>
          <option value="headache">headache</option>
           <option value="fatigue">fatigue</option>
          <option value="stress">stress</option>
             <option value="anxiety">anxiety</option>
           <option value="stomach_discomfort">stomach Discomfort</option>
          <option value="body_pain">body Pain</option>
           <option value="low_focus">low_focus</option>
        </select>

        <button onclick="DnextStep()" class="w-full bg-teal-500 hover:bg-teal-600
                 text-white font-semibold py-2 rounded-lg transition">
          Next
        </button>
      </div>


       <div class="daily absolute inset-0 translate-x-full opacity-0 transition-all duration-300 p-2">
        <button onclick="DbackStep()" class="text-sm mb-2 text-teal-500 hover:text-teal-300">← Back</button>
        <h2 class="text-lg font-semibold mb-3 p-2">sleep Hour</h2>
        <input id="sleepHr" type="number" max="300"
          class="w-full p-3 rounded-lg border border-slate-300
                 focus:ring-2 focus:ring-teal-400 outline-none mb-4">
        <button onclick="DnextStep()" class="w-full bg-teal-500 hover:bg-teal-600
                 text-white font-semibold py-2 rounded-lg transition">
          Next
        </button>
      </div>


       <div class="daily absolute inset-0 translate-x-full opacity-0 transition-all duration-300 p-2">
        <button onclick="DbackStep()" class="text-sm mb-2 text-teal-500 hover:text-teal-300">← Back</button>
        <h2 class="text-lg font-semibold mb-3 p-2">Screem Time</h2>
        <input id="screentime" type="number" max="300"
          class="w-full p-3 rounded-lg border border-slate-300
                 focus:ring-2 focus:ring-teal-400 outline-none mb-4">
        <button onclick="DnextStep()" class="w-full bg-teal-500 hover:bg-teal-600
                 text-white font-semibold py-2 rounded-lg transition">
          Next
        </button>
      </div>

      
      <div class="daily absolute inset-0 translate-x-full opacity-0 transition-all duration-300">
        <button onclick="DbackStep()" class="text-sm mb-2 text-teal-500 hover:text-teal-300">← Back</button>
        <h2 class="text-lg font-semibold mb-3">Mood</h2>
        <select id="mood"
          class="w-full p-3 rounded-lg border border-slate-300
                 focus:ring-2 focus:ring-teal-400 outline-none mb-4">
          <option value="neutral">neutral</option>
          <option value="veryBad">veryBad</option>
          <option value="Bad">Bad</option>
          <option value="Good">Good</option>
          <option value="veryGood">Very Good</option>
        </select>

         <button onclick="submitDailyData()"
          class="w-full bg-amber-400 hover:bg-amber-500
                 text-slate-900 font-semibold py-2 rounded-lg transition">
          Submit
        </button>
      </div>


    </div>
  </div>
</div>
  
              <% } %>
