<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="page-wrapper" class="">
        <header id="nav-section" class=" bg-white/70 backdrop-blur-sm shadow z-50 sticky top-0">
            <div id="nav-container" class="flex px-4 items-center justify-between md:px-30 py-2 md:py-4">
                <div id="logo" class="text-teal-400 text-2xl"><span class="text-teal-700">Stu</span>Well</div>
                <nav id="nav-link">
                     <a href="/"><button class="p-2 px-6 text-xl bg-amber-500 rounded-3xl text-white hover:bg-amber-300">Home</button></a>
                </nav>
            </div>
        </header>


        <main id="main-content" class="bg-[url(/img/hero-img.jpg)] bg-cover h-220 md:h-150 px-4 md:px-30 md:flex md:justify-between md:items-center">
            <div id="image-section" class="hidden md:flex md:items-center md:justify-center">
                <div id="image" class="md:w-full md:p-16">
                    <img src="/img/hero-img.svg" alt="IMG" class="">
                </div>
            </div>
            <div id="auth-section" class="min-h-full py-6 flex items-center justify-center md:w-1/2">
                <div id="login-container" class="w-full px-4 ">
                    
                    <form action="/login" method="post" class="flex flex-col items-center justify-between gap-4">
                        <input
                        type="email"
                        placeholder="Enter Your email" 
                        name="email"
                        class="h-20 w-full px-4 py-2 border-2 border-sky-500 text-2xl text-black rounded-3xl bg-white"
                        required
                        >
                        <input type="password"
                        placeholder="Enter Your Password" 
                        name="password"
                        class="h-20 w-full px-4 py-2 border-2 border-sky-500 text-2xl text-black rounded-3xl bg-white"
                        required
                        >
                        <button class="h-20 w-full px-4 text-3xl font-medium bg-amber-500 rounded-3xl text-white hover:bg-amber-300">Login</button>

                            <p class="font-mono text-xl">Don't have an account? <span id="signup" class="text-amber-600 cursor-pointer">Signup</span></p>
                    </form>

                </div>
                <div id="signup-container" class="w-full px-4 hidden">
                    <form action="/signup" method="post" class="flex flex-col items-center justify-between gap-4">
                        <input
                        type="text"
                        placeholder="Enter Your Username" 
                        name="userName"
                        class="h-20 w-full px-4 py-2 border-2 border-sky-500 text-2xl text-black rounded-3xl bg-white"
                        required
                        >
                        <input
                        type="email"
                        placeholder="Ex.nishavhu@gmail.com" 
                        name="email"
                        class="h-20 w-full px-4 py-2 border-2 border-sky-500 text-2xl text-black rounded-3xl bg-white"
                        required
                        >
                        <input type="password"
                        placeholder="Enter Your Password" 
                        name="password"
                        class="h-20 w-full px-4 py-2 border-2 border-sky-500 text-2xl text-black rounded-3xl bg-white"
                        required
                        >
                        <button class="h-20 w-full px-4 text-3xl font-medium bg-amber-500 rounded-3xl text-white hover:bg-amber-300">Signup</button>

                            <p class="font-mono text-xl">Already have an account? <span id="login" class="text-amber-600 cursor-pointer">Login</span></p>
                    </form>
                </div>
            </div>
        </main>


        <footer id="footer-section" class="bg-white px-4">
            <div id="footer-container" class="py-2 flex items-center justify-between">
                <div class="text-teal-400 text-xl"><span class="text-teal-700">Stu</span>Well</div>
                <div><p class="text-teal-700 -ml-4">&copy; 2026 : Devloped By Nishav</p></div>
                <a href="https://instagram.com/nishav78" class="text-teal-800 text-md"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </footer>

    </div>
    

    <script src="/js/auth-page.js"></script>
</body>
</html>