<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <% if (showProfileModal) { %>
    <div id="profile-modal">
      <h1>profileee modalll wala itemmmmmmmmm</h1>
    </div>
  <% } %>
    <h1>dashbaord hai yee</h1>
</body>
</html>